/*FONTS */

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

main {
    width: 100%;
    max-width: 1140px; 
    margin: 0 auto; 

}
body {
  background-color: #E1CEA8;
}

#background-image {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1; 
}

/* Navigation */
header {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .menu_principal {
    padding: 15px 42px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0);
  }
  
  .titre_navigation {
    font-size: 1.2em;
  }

div.logo_accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

div.slogan {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 1em;
}

div.slogan p {
    font-family: 'Mohave', sans-serif;
    color: #742948;
    font-size: large;
}


div.logo_accueil img {
    width: 6em;
    height: 7em;
}


.navitation {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    background-color: #fff;
    color: #742948;
    border-radius: 50px;
}

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 75px;
        }
        

        .menu_principal {
            position: relative;
            PADDING: 15px 42px 15px 42px;
            border-radius: 50px;
        }

    
        

        .titre_navigation {
            text-decoration: none;
            color: #742948;
            display: block;
            font-family: 'Dosis', sans-serif;
            font-size: 1.2em;
        }
        

    

        a {
            text-decoration: none;
            color: #742948 ;
            padding: 10px;
            display: block;
            font-family: 'Dosis', sans-serif;
            border: #ff8c00;
            font-size: large;
        }


        ul.sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50px;
            background-color: #FAB13C;
            z-index: 1000;
            height: auto;
        }

        li:hover > ul.sub-menu {
            display: block;
            white-space: nowrap;
        }

        a img {
          margin-left: 7px;
          width: 18px;
          height: 18px;
      
      }

  
       .mega-menu {
        width: 1100px;
        position: absolute;
        left: 40%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
    }

    li:hover .mega-menu {
        display: block;
    }

 
    .mega-menu-column {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .mega-menu-column H3 {
        font-family: 'Mohave', sans-serif;
        color: #742948;
    }


    .mega-menu-column a {
        color: #742948;
        display: block;
        margin-bottom: 10px;
        font-size:large;
    }

    .mega-menu-column a:hover {
        background-color: #E1CEA8; 
    }


    .sub-menu a:hover {
        background-color: #E1CEA8; 

    }



    .menu_principal:hover {
        background-color: #742948;
        cursor: pointer;
    }
    
    .menu_principal:hover .titre_navigation {
        color: #E1CEA8; 
    }
    
    .menu_principal:hover img {
        filter: brightness(0) invert(1);
    }
.landing-page {
    background-image: url(../asset/img/fond_bienfaits.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    position: relative;
    z-index: -99999;
    top: -244px;
    width: 97%;
    margin: 0 auto;
}

.landing-content {
    top: 67px;
    position: relative;
    width: 1140px;
    margin: 0 auto;

}

.landing-content  {
    color: #742948;
    text-shadow: 4px 4px 4px #01161E;
    font-size: 50px;
    font-family: 'Belanosima', sans-serif;
}



/* CONTAINER Card Articles */


.wrapper {
    width: 100%;
    max-width: 1920px;
}

.ui-module-header {
    align-items: center;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.7777777778vw;
    padding-top: 20px;
}

.f-circular {
    font-family: "Circular Std",sans-serif;
}

.ui-module-header .t-h3 {
    max-width: 62.037037037vw;
}

.t-h3, h3 {
    font-size: 2.7777777778vw;
    font-weight: 450;
    letter-spacing: -.0555555556vw;
    line-height: 110%;
    font-family: 'Mohave', sans-serif;
}

.modules-grid-articles-block3.isShown {
    opacity: 1;
    transform: translateY(0);
}

.modules-grid-articles-block3 {
    display: grid;
    grid-row-gap: 2.7777777778vw;
    row-gap: 8.7777777778vw;
    grid-template-columns: 3fr 2fr;
    opacity: 0;
    transform: translateY(6.9444444444vw);
    transition: opacity .4s cubic-bezier(.32,.94,.6,1),transform .4s cubic-bezier(.32,.94,.6,1);
}

.module-grid-articles-block3 {
    display: grid;
    grid-row-gap: 2.7777777778vw;
    row-gap: 8.7777777778vw;
    grid-template-columns: 2fr 3fr;
    opacity: 0;
    transform: translateY(6.9444444444vw);
    transition: opacity .4s cubic-bezier(.32,.94,.6,1),transform .4s cubic-bezier(.32,.94,.6,1);
}



.ui-cards-magazine-default {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.ui-cards-magazine-default .image {
    border-radius: 32px;
    overflow: hidden;
}

.ui-cards-magazine-default .image img, .ui-cards-magazine-default .image picture {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .8s cubic-bezier(.32,.94,.6,1);
    width: 100%;
}

.ui-cards-magazine-default .image img, .ui-cards-magazine-default .image picture {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .8s;
}

.ui-fragments-image.png {
    background-image: none!important;
}

.image .ux-fragments-image img:hover {
        transform: scale(1.2);
}
.image .ui-fragments-image img:hover {
    transform: scale(1.2); 
}


.ui-fragments-image {
    background-size: cover;
    display: block;
}

.ui-cards-magazine-default .image img, .ui-cards-magazine-default .image picture {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .8s cubic-bezier(.32,.94,.6,1);
}



.ui-fragments-image.isLoaded img {
    opacity: 1;
}

.ui-cards-magazine-default .content {
    margin-top: 0.6944444444vw;
    position: relative;
    z-index: 2;
}

.t-h5, h5 {
    font-size: 1.3888888889vw;
    line-height: 110%;
}

.f-circular {
    font-family: "Mveoha",sans-serif;
    font-size: large
}

.ui-cards-magazine-default .content .informations {
    align-items: center;
    margin-top: 0.9027777778vw;
    grid-column-gap: 0.5555555556vw;
    -moz-column-gap: .5555555556vw;
    column-gap: 0.5555555556vw;
    display: flex;
}

.ui-fragments-tag {
    border-radius: 60px;
    color: #262626;
    font-size: .9722222222vw;
    line-height: 125%;
    padding: 0.3472222222vw 0.5555555556vw;
}

.ui-cards-magazine-default .content .informations .reading-time {
    align-items: center;
    display: flex;
    font-size: large;
}

.body-3 {
    font-size: .9722222222vw;
}

/* Last col */
.modules-grid-articles-block3 .last-col {
    display: grid;
    grid-row-gap: 2.7777777778vw;
    row-gap: 2.7777777778vw;
}

.ux-cards-magazine-default .image img, .ui-cards-magazine-default .image picture {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform .8s cubic-bezier(.32,.94,.6,1);
    width: 100%;
}


/* INTRO */
.intro {
    display: grid;
    grid-gap: 1.425926vw;
    gap: 2.425926vw;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3em;
    margin-top: -10em;
}
.intro  .t-h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 50px;
    font-family: 'Belanosima', sans-serif;
    vertical-align: baseline;
    color: #742948;
    
}

.intro .t-h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: x-large;
    font-family: 'Dosis', sans-serif;
    vertical-align: baseline;
}







    .scroll-to-top {
        position: fixed;
        bottom: 11px;
        right: 15px;
        background-color: #742948;
        color: #E1CEA8;
        font-size: 18px;
        width: 74px;
        height: 74px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex !important;
        Z-INDEX: 9999999999;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 3px 6px 11px rgba(0, 0, 0, 4.2);
    }


    
    .scroll-to-top:hover {
        background-color: #FAB13C;
    }


/* FOOTER */


footer {
    display: flex;
    flex-direction: column;
}



#infolettre {
    position: relative;
    background-size: contain;
    color: white;
    text-align: center;
    padding: 136px 0;
    background-attachment: fixed;
    height: 8em;
}

#content {
    position: relative;
    z-index: 2;
}

#infolettreImg2 {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}


#infolettreImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px; 
    height: auto;
    z-index: 1; 
}

#infolettre h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Belanosima', sans-serif;
    color: #742948;
}

#infolettre p {
    color: #01161E;
    font-family: 'Mohave', sans-serif;
}

#inputContainer input::placeholder {
    color:#742948;
    font-family: 'Dosis', sans-serif;
}



#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#inputContainer {
    display: flex;
    align-items: center;
    width: 220px;


}

#emailInput {
    flex-grow: 1;
    padding: 10px;
    border-radius: 50px;
    width: 333px;
    height: 1.5em;
    border-color: #fff;
    height: 1.7em;
}

#degustezBtn {
    background-color: #742948;
    color: #E1CEA8;
    padding: 14px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: -121px;
    font-family: 'Dosis', sans-serif;

}






#logoSection {
    background: url('../asset/footer/palmier_fond.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 5em;
    margin-top: 3em;
}

#logo {
    max-width: 20%;
    height: auto;
}

#logo:hover {
    transform: scale(1.04); 
    filter: brightness(0) invert(1); 

  }

#socialLogos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.socialLogo {
    margin: 0 10px;
    max-width: 51px;
    height: auto;
    width: 36px;
    transition: transform 0.3s ease-in-out; 
}


  
  .socialLogo:hover {
    transform: scale(1.4); 
    filter: brightness(0) invert(1);

  }


#footerLinks {
    margin-top: 20px;
    DISPLAY: flex;
    ALIGN-ITEMS: center;
    JUSTIFY-CONTENT: center;
}

#footerLinks a:hover {
    transform: scale(1.4); 
    color: #01161E;

  }

#logo_footer IMG {
    width: 40%;
    height: auto;
}


#rightsReserved {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1em;
    font-family: 'Dosis', sans-serif;
    color: #01161E;
}




/* Media */
@media screen and (max-width: 900px) {
    main {
        width: 900px;
        max-width: 1140px;
        margin: 0 auto;
    }
    .menu_principal {
        position: relative;
        PADDING: 15px 42px 15px 42px;
        border-radius: 50px;
        /* background-color: white; */
    }
    
    .menu_principal {
        position: relative;
        PADDING: 15px 42px 15px 42px;
        border-radius: 50px;
        /* background-color: white; */
    }
    
    .mega-menu {
        width: 836px;
        position: absolute;
        left: 40%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
    }
    
    ul.sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 6px;
        background-color: #FAB13C;
        z-index: 1000;
        height: auto;
    }

    div.slogan p {
        font-family: 'Mohave', sans-serif;
        color: #742948;
        font-size: larger;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        height: 75px;
        width: 500px;
        flex-direction: row;
        background-color: white;
    }
    
    
    
    
    
    /*contenue */
    #text-presentation {
        font-size: x-large;
        font-family: 'Dosis', sans-serif;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }
    

    nav {
        background-color: #fff;
        color: #742948;
        border-radius: 50px;
        margin-bottom: 22em;
    }

    



    /*FOOTER*/
    
    #infolettreImg2 {
        position: absolute;
        top: 121px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    #infolettreImg {
        position: absolute;
        top: 30px;
        left: 46%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 700px;
        height: auto;
        z-index: 1;
    }
    
    
    
    footer {
        display: flex;
        flex-direction: column;
        width: 900px;
    }
}
  



  @media only screen and (max-width: 500px) {
    main {
        width: 500px;
        max-width: 1140px;
        margin: 0 auto;
    }

    .mega-menu {
        width: 429px;
        position: absolute;
        left: -35%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
        Z-INDEX: 99;
    }

    ul.sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -59px;
        background-color: #FAB13C;
        z-index: 1000;
        height: auto;
        WIDTH: 338px;
    }


    .landing-content {
        top: 119px;
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
        width: 500px;
    }
    .landing-page {
        background-image: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        border-radius: 50px;
        position: relative;
        z-index: -99999;
        top: -244px;
        width: 97%;
        margin: 0 auto;
    }
    
    .landing-content h1{
        color: #742948;
        text-shadow: 4px 4px 4px #01161E;
        font-size: 36px;
        font-family: 'Belanosima', sans-serif;
    }
    
    
    .intro {
        display: grid;
        grid-gap: 1.425926vw;
        gap: 6.425926vw;
        grid-template-columns: 1fr ;
        margin-bottom: 3em;
        margin-top: -10em;
    }
    
    .modules-grid-articles-block3 {
        display: grid;
        grid-row-gap: 2.7777777778vw;
        row-gap: 8.7777777778vw;
        grid-template-columns: 2fr;
        opacity: 0;
        transform: translateY(6.9444444444vw);
        transition: opacity .4s cubic-bezier(.32,.94,.6,1),transform .4s cubic-bezier(.32,.94,.6,1);
    }


    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 75px;
        flex-direction: column;
    }



        /*footer*/
    
        footer {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
}

#note {
    font-family: 'Dosis', sans-serif;
    color: #999;
}
