/*FONTS */

@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


* {
  margin: 0px;
  padding: 0px;
}

main {
    width: 100%;
    max-width: 1140px; 
    margin: 0 auto; 

}
body {
  background-color: #E1CEA8;
}

.landing-page {
    background-image: url(../asset/img/landing_page_goutropic.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down-arrow img {
    width: 80px;
    height: auto; 
}

#scroll-down {
    padding: 0%;
}

/*Float Inscription connxion */

.float {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 0px;
    right: 0;
    background-color: #4CA9AD;
    color: #FFF;
    border-radius: 70% 70% 10% 70%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.float:hover {
    background-color: #FAB13C;
}

.float h3 {
    font-size: x-small;
}

.float img {
    width: 55%;
    height: auto;
}

.my-float{
	margin-top:22px;
}

#background-image {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1; 
}

/* Navigation */

#logo_accueil img {
    width: 3%;
    height: auto;
}
div.logo_accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

div.slogan {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 1em;
}

div.slogan p {
    font-family: 'Mohave', sans-serif;
    color: #742948;
    font-size: large;
}


div.logo_accueil img {
    width: 10em;
    height: 10em;
}
.navitation {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    background-color: #fff;
    color: #742948;
    border-radius: 50px;
}

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 75px;
        }
        

        .menu_principal {
            position: relative;
            PADDING: 15px 42px 15px 42px;
            border-radius: 50px;
        }

    
        

        .titre_navigation {
            text-decoration: none;
            color: #742948;
            display: block;
            font-family: 'Dosis', sans-serif;
            font-size: 1.2em;
        }
        

    

        a {
            text-decoration: none;
            color: #742948 ;
            padding: 10px;
            display: block;
            font-family: 'Dosis', sans-serif;
            border: #ff8c00;
            font-size: large;
        }


        ul.sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50px;
            background-color: #FAB13C;
            z-index: 1000;
            height: auto;
        }

        li:hover > ul.sub-menu {
            display: block;
            white-space: nowrap;
        }

        a img {
          margin-left: 7px;
          width: 18px;
          height: 18px;
      
      }

  
       .mega-menu {
        width: 1100px;
        position: absolute;
        left: 40%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
    }

    li:hover .mega-menu {
        display: block;
    }

 
    .mega-menu-column {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .mega-menu-column H3 {
        font-family: 'Mohave', sans-serif;
        color: #742948;
    }


    .mega-menu-column a {
        color: #742948;
        display: block;
        margin-bottom: 10px;
        font-size:large;
    }

    .mega-menu-column a:hover {
        background-color: #E1CEA8; 
    }


    .sub-menu a:hover {
        background-color: #E1CEA8; 

    }



    .menu_principal:hover {
        background-color: #742948;
        cursor: pointer;
    }
    
    .menu_principal:hover .titre_navigation {
        color: #E1CEA8; 
    }
    
    .menu_principal:hover img {
        filter: brightness(0) invert(1);
    }

    .burger-menu {
        display: none; /* Masquer par défaut sur les écrans larges */
        font-size: 1.5em;
        cursor: pointer;
    }


/* CONTAINER */

div#container  {display: contents; width: 1140px;}

div#img_presentation {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#img_presentation img {
    width: 20em;
    height: 20em;
}


.container {
    text-align: center;
}

.color-change {
    display: inline-block;
    transition: color 0.5s ease;
}

.color-1 {
    color: #ff8c00; 
}

.color-2 {
    color: #4caf50; 
}

#presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6em;
}

#text-presentation {
    font-size: larger;
    font-family: 'Dosis', sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.button {
    background-color: #742948;
    font-family: 'Dosis', sans-serif;
    border-radius: 25px;
    font-size: x-large;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    color: #E1CEA8;
    cursor: pointer;
  }


.boutton:hover {
    transform: scale(1.4); 
    cursor: pointer;

  }


/* titres */

.title h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 2em;
    color: #01161E;
}

.title p {
    font-family: 'Mohave', sans-serif;
    font-size: large;

}

div.title {
    margin-top: 2em;
    margin-bottom: 4em;
}

/* Card recettes */

.slide-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
  }
  


  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 2em;
  }
  
  
  
  .clash-card {
    background: #742948;
    width: 350px;
    display: inline-block;
    margin: auto;
    border-radius: 27px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;

}

  .clash-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 2em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .clash-card__image {
    background-color: #E1CEA8;}

    #kremas_img {
        width: 440px;
        position: absolute;
        top: -83px;
        left: -17px;
        width: 3;
        height: auto;
    }

    #bol_soupe_joumou_img {
        width: 444px;
        position: absolute;
        top: -46px;
        left: -90px;
        height: auto;
    }


    #diri_djondjon_img {
        width: 431px;
        position: absolute;
        top: -76px;
        left: -77px;
        height: auto;
    } 
    

.clash-card__unit-description {
    color: #E1CEA8;
    text-align: left;
}

.clash-card__unit-name {
    font-size: 26px;
    color: #E1CEA8;
    font-weight: 900;
    margin-bottom: 6px;
    margin-top: 2em;
    font-family: 'Belanosima', sans-serif;
    text-align: left;
}
    .voir_plus-bouton {
        top: 34px;
        position: relative;
        width: 3em;
        height: auto;
    }
  hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .annotations {
    display: flex;
    color: #E1CEA8;
    justify-content: space-between;
    font-size: larger;
}


div.annotations img {
    width:  142px;
    height: auto;
}

.liens {
    color: #742948;
}

.liens:hover {
    text-decoration: underline;
}

.clash-card {

    transition: transform 0.3s ease-in-out; 
  }
  
  .clash-card:hover {
    transform: scale(1.05); 

  }




/* CARD video */

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr; 
    grid-template-rows: auto auto; 
    gap: 10px; 
  }
  
  .item1 {
    grid-row: span 2;
    background-image: url('../asset/video_card/chef_Paul_Toussaint.jpg');
  }
  
  .item2 {
    background-image: url('../asset/video_card/chef_hatien.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .item3 {
    background-image: url('../asset/video_card/chef_caribeen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .item {
    background-color: #e0e0e0;
    padding: 9em;
    border: 1px solid #ccc;
    border-radius: 25px;
    display: flex;
    position: relative;
  }
  
  /* Styles pour la barre d'informations */
  .informations {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 94.5%;
    background-color: #4CA9AD;
    border-bottom-left-radius: 24px;
    padding: 1em;
    color: white;
    border-bottom-right-radius: 24px;
}
  .informations::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #4CA9AD;
  }
    
  .informations h1 {
    font-size: larger;
    font-family: 'Belanosima', sans-serif;
  }
  
  .informations h2,
  .item p {
    font-size: larger;
    font-family: 'Mohave', sans-serif;
  }
  
  .item p {
    font-family: 'Dosis', sans-serif;
  }
  



/* lIENS SOUS LES CARDS*/
div.liens_autres {
    display: flex;
    margin-top: 3em;
    margin-bottom: 10em;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

div.liens_autres a {
    font-size: 1.5em;
}
div.liens_autres img {
    width: 1EM;
    height: 1EM;
}

.scroll-to-top {
    position: fixed;
    bottom: 11px;
    right: 15px;
    background-color: #742948;
    color: #E1CEA8;
    font-size: 18px;
    width: 74px;
    height: 74px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex !important;
    Z-INDEX: 9999999999;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 3px 6px 11px rgba(0, 0, 0, 4.2);
}

.scroll-to-top:hover {
    background-color: #FAB13C;
}

/* FOOTER */


footer {
    display: flex;
    flex-direction: column;
}



#infolettre {
    position: relative;
    background-size: contain;
    color: white;
    text-align: center;
    padding: 136px 0;
    background-attachment: fixed;
    height: 8em;
}

#content {
    position: relative;
    z-index: 2;
}

#infolettreImg2 {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}


#infolettreImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px; 
    height: auto;
    z-index: 1; 
}

#infolettre h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Belanosima', sans-serif;
    color: #742948;
}

#infolettre p {
    color: #01161E;
    font-family: 'Mohave', sans-serif;
}

#inputContainer input::placeholder {
    color:#742948;
    font-family: 'Dosis', sans-serif;
}



#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#inputContainer {
    display: flex;
    align-items: center;
    width: 220px;


}

#emailInput {
    flex-grow: 1;
    padding: 10px;
    border-radius: 50px;
    width: 333px;
    height: 1.5em;
    border-color: #fff;
    height: 1.7em;
}

#degustezBtn {
    background-color: #742948;
    color: #E1CEA8;
    padding: 14px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: -121px;
    font-family: 'Dosis', sans-serif;

}






#logoSection {
    background: url('../asset/footer/palmier_fond.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 5em;
    margin-top: 3em;
}

#logo {
    max-width: 20%;
    height: auto;
}

#logo:hover {
    transform: scale(1.04); 
    filter: brightness(0) invert(1); 

  }

#socialLogos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.socialLogo {
    margin: 0 10px;
    max-width: 51px;
    height: auto;
    width: 36px;
    transition: transform 0.3s ease-in-out; 
}


  
  .socialLogo:hover {
    transform: scale(1.4); 
    filter: brightness(0) invert(1);

  }


#footerLinks {
    margin-top: 20px;
    DISPLAY: flex;
    ALIGN-ITEMS: center;
    JUSTIFY-CONTENT: center;
}

#footerLinks a:hover {
    transform: scale(1.4); 
    color: #01161E;

  }

#logo_footer IMG {
    width: 40%;
    height: auto;
}


#rightsReserved {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1em;
    font-family: 'Dosis', sans-serif;
    color: #01161E;
}

/* Media */
@media screen and (max-width: 900px) {
    main {
        width: 900px;
        max-width: 1140px;
        margin: 0 auto;
    }
    .menu_principal {
        position: relative;
        PADDING: 15px 42px 15px 42px;
        border-radius: 50px;
        /* background-color: white; */
    }
    
    .menu_principal {
        position: relative;
        PADDING: 15px 42px 15px 42px;
        border-radius: 50px;
        /* background-color: white; */
    }
    
    .mega-menu {
        width: 836px;
        position: absolute;
        left: 40%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
    }
    
    ul.sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 6px;
        background-color: #FAB13C;
        z-index: 1000;
        height: auto;
    }
    
    
    
    
    
    /*contenue */
    #text-presentation {
        font-size: x-large;
        font-family: 'Dosis', sans-serif;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }
    
    .button {
        background-color: #742948;
        font-family: 'Dosis', sans-serif;
        border-radius: 25px;
        font-size: x-large;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 38px;
        margin: 4px 2px;
        color: #E1CEA8;
        cursor: pointer;
    }
    
    div.title {
        margin-top: 2em;
        margin-bottom: 4em;
        margin-left: 2em;
        width: 900px;
    }
    
    .slide-container {
        max-width: 1140px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    div.liens_autres a {
        font-size: 2.5em;
    }
    
    div.title {
        margin-top: 2em;
        margin-bottom: 4em;
        margin-left: 2em;
        width: 838px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }
    
    .informations {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 96.5%;
        background-color: #4CA9AD;
        border-bottom-left-radius: 24px;
        padding: 1em;
        color: white;
        border-bottom-right-radius: 24px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 75px;
        width: 500px;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: white;
    }
    nav {
        background-color: #fff;
        color: #742948;
        border-radius: 50px;
        margin-bottom: 22em;
    }

    div.liens_autres a {
        font-size: 1.5em;
    }
    
    div.title {
        margin-top: 2em;
        margin-bottom: 4em;
        font-size: x-small;
        width: 500px;
    }
    
    #infolettreImg2 {
        position: absolute;
        top: 151px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    #infolettreImg {
        position: absolute;
        top: 64px;
        left: 46%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 700px;
        height: auto;
        z-index: 1;
    }
    
    
    /*footer*/
    
    footer {
        display: flex;
        flex-direction: column;
        width: 900px;
    }
}
  



  @media only screen and (max-width: 500px) {
    main {
        width: 500px;
        max-width: 1140px;
        margin: 0 auto;
    }

    .mega-menu {
        width: 431px;
        position: absolute;
        left: 40%;
        transform: translateX(-5.5%);
        top: 100%;
        display: none;
        padding: 20px;
        box-sizing: border-box;
        background-color: #FAB13C;
        Z-INDEX: 99;
    }


        /*footer*/
    
        footer {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
}





